.poster {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    height: 320px;
    margin: 5px;
    width: 100%;
    transform: scale(1.05)
}

h3 {
    height: auto;
    font-size: larger;
    text-align: center;
}

.carta{
    transition: transform 0.2s ease-in-out;
}

.carta:hover{
    transform: scale(1.01);
}